{% extends "bootstrap/base.html" %}
{% block title %}EDGAR Data Display{% endblock %}
{% block content %}
<br>      
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Edgar Tool <small>by vic.</small></h2>
      <div class="panel panel-success">
	<div class="panel-heading">
	  <h3 class="panel-title">S&P 500 Company</h3>
	</div>
	<div class="panel-body">
	  <form class="form-horizontal" action="/datadisplay" method="post">
	    {{ form.hidden_tag() }}
	    <div class="form-group">
	      {{ form.ticker(class_="form-control",placeholder="Ticker") }}
	      {{ form.value (class_="form-control",placeholder="Value") }}
	      <br>
	      <center>{{ form.submit(class_="btn btn-default") }}</center>
	    </div>
	</div>
      </div>
    </div>
    <div class="col-md-8">
      {% if script %}
      <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" type="text/css" />
      <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
      {{ script | safe }}
      <div class=page>
	<h3>Time Series of {{ form.ticker.data }} : {{ form.value.data }}</h3>
	{{ div | safe }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
