{% extends "bootstrap/base.html" %}
{% block title %}EDGAR Data Display{% endblock %}
{% block content %}
<link type="text/css" rel="stylesheet" href="../static/css/stupid.css"/>
<br/>      
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Edgar Tool <small>by vic.</small></h2>
      <div class="panel panel-success">
	<div class="panel-heading"> <h3 class="panel-title">S&P 500 Company</h3> </div>
	<div class="panel-body">
	  <div class="insidecolmd4">
	    <form class="form-horizontal" action="/datadisplay" method="POST">
	      {{ form.hidden_tag() }}
	      <div class="form-group">
		{{ form.ticker(class_="form-control",placeholder="Ticker",id="baka") }}
		{% if not dfloaded %}
		<center>{{ form.value (class_="form-control",placeholder="Value",disabled=True,id="doji")  }}</center>
		<br/>
		<center>{{ form.submit(class_="btn btn-default",id="boke",type="boke") }}</center>
		{% else %}
		{{ form.value (class_="form-control",placeholder="Value",disabled=False,id="doji")  }}
		<br/>
		<center>{{ form.series(class_="btn btn-default",id="fuck",type="fuck") }}</center>
	      {% endif %}
	      <br/>
	    </div>
	  </form>
	  </div>
	</div>
      </div>
      <div id="progress"></div> <!-- This is the progressbar -->
    </div>
    <div class="col-md-8">
      <!-- Force client to load this shit ahead of time from CDN -->
      <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" type="text/css" />
      <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
      <div id="butthole"></div> <!-- This where the plot goes -->
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../static/javascript/stupid.js"></script>

{% endblock %}
