{% extends "bootstrap/base.html" %} <!-- simple CSS in site-packages/flask_bootstrap/templates/bootstrap -->
{% block title %}EDGAR WEB{% endblock %}
{% block content %}
<center>
  <h1>EDGAR WEB</h1>
  <br>
  <img src="static/images/sec.png" height="150" width="150">
</center>


{% with messages = get_flashed_messages() %}
{% if messages %}
<!-- <ul class=flashes> -->
{% for message in messages %}
<center><h4>{{ message }}</h4></center>
{% endfor %}
<!-- </ul> -->
{% endif %}
{% endwith %}
<center>

  <div class="container">
    <form class="form-signin" action="/login" method="post">
      {{ form.hidden_tag() }}
      <div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	  <h2 class="form-signin-heading">Don't Sign In</h2>
	  {{ form.username(class_="form-control",placeholder="Username") }}
	  {{ form.password(class_="form-control",placeholder="Password") }}
	  {{ form.submit(class_="btn btn-primary") }}
	</div>
	<div class="col-md-4"></div>
      </div>
    </form>
  
  </div>
</center>
{% endblock %}
